[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /mysql/data
secure-file-priv= NULL
port			= 3307

# Other settings
symbolic-links=0
#default_authentication_plugin=mysql_native_password
default_authentication_plugin=caching_sha2_password

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4